body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  justify-content: space-between;
  padding: 10px;
}

form {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px 0;
}

form > * {
  flex-grow: 1;
  min-height: 25px;
}

form button {
  max-width: 30%;
}

.messages-parent {
  background-color: #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  overflow: auto;
}

.messages-scroll {
  overflow: auto;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.no-messages {
  align-self: center;
}

.message {
  background-color: #fff;
  box-shadow: #ddd 0 0 5px;
  border-radius: 10px;
  margin: 5px 5px 5px 10%;
  padding: 10px;
}

.message.own-message {
  margin: 5px 10% 5px 5px;
}

.message .meta {
  color: #333;
  display: flex;
  font-size: 70%;
  justify-content: space-between;
  padding-bottom: 5px;
}

.message .meta .from {
  padding-right: 10px;
}

.message .meta .timestamp {
  padding-left: 10px;
}

.status {
  text-align: center;
}
